<p id="notice"><%= notice %></p>

<h1>Listing Employees</h1>

<table class="table table-striped table-hover table-bordered">
  <thead>
    <tr>
      <th>Name</th>
      <th>Ic</th>
      <th>Gender</th>
      <th>Address</th>
      <th>Phone</th>
      <th>Position</th>
      <th>Email</th>
      <th>Dept</th>
      <th>Startdate</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.name %></td>
        <td><%= employee.ic %></td>
        <td><%= employee.gender %></td>
        <td><%= employee.address %></td>
        <td><%= employee.phone %></td>
        <td><%= employee.position %></td>
        <td><%= employee.email %></td>
        <td><%= employee.dept %></td>
        <td><%= employee.startdate %></td>
        <td><%= link_to 'Show', employee, class: "btn btn-default" %></td>
        <td><%= link_to 'Edit', edit_employee_path(employee), class: "btn btn-default" %></td>
        <td><%= link_to 'Destroy', employee, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-default" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<%= link_to 'New Employee', new_employee_path, class: "btn btn-default"  %>
