<% if flash[:notice] %>
  <div class="alert alert-success">
  <p style="color: green;"><%= flash[:notice] %></p>
</div>
<% end %>
<% if flash[:alert] %>
  <div class="alert alert-danger">
  <p style="color: red;"><%= flash[:alert] %></p>
</div>
<% end %>	
<%= form_for @employee, url: changepassword_employees_path, class: 'rform', method: 'post', :html =>{ :multipart => true} do |f| %>


<h1>Change Password</h1>

<div class="row form-group">
  <div class="col-lg-5">
  <div class="field">
    <%= f.label "Old password" %><br>
    <%= f.text_field :hashed_password, :class => 'form-control' %>
    <%= f.label :password %><br>
    <%= text_field_tag ("password"),"", :class => 'form-control' %>
  </div>
</div>
</div>
<%= f.submit "Change Password" %>
<% end %>