<%= form_for(@manager) do |f| %>
  <% if @manager.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manager.errors.count, "error") %> prohibited this manager from being saved:</h2>

      <ul>
      <% @manager.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :employee_id %><br>
    <%=collection_select :manager, :employee_id, Employee.all, :id, :name,{}, {:prompt => 'Sila Pilih', :class => 'form-control'}%>
  </div>
  <div class="field">
    <%= f.label :dept_id %><br>
    <%=collection_select :manager, :dept_id, Department.all, :id, :dept,{}, {:prompt => 'Sila Pilih', :class => 'form-control'}%>
    
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
