<p id="notice"><%= notice %></p>

<p>
  <strong>Employee:</strong>
  <%= @manager.employee_id %>
</p>

<p>
  <strong>Employee:</strong>
  <%= @manager.employee_id %>
</p>

<p>
  <strong>Dept:</strong>
  <%= @manager.dept_id %>
</p>

<%= link_to 'Edit', edit_manager_path(@manager) %> |
<%= link_to 'Back', managers_path %>
